/* Контейнер для постов */
.posts {
    width: 100%;
    max-width: 960px;
    margin-top: 12px;
}

.post {
    background: var(--surface-bg);
    padding: 16px;
    border: 1px solid #374151;
    border-radius: 8px;
    margin-bottom: 12px;
}

/* Заголовок поста */
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.post-header .author {
    font-size: 14px;
    color: var(--muted-color);
}

.post .actions {
    display: flex;
    gap: 6px;
}

/* Кнопки иконок */
.icon-btn {
    background: #374151 !important;
    border: none;
    padding: 5px !important;
    cursor: pointer;
    color: var(--muted-color) !important;
    font-size: 12px !important;
    transition: color 0.2s;
}

.icon-btn:hover {
    color: var(--text-color);
}

.edit-btn:hover {
    color: rgb(180, 129, 33) !important;
}

.delete-btn:hover {
    color: rgb(189, 67, 67) !important;
}

/* Контент */
.post-content h1,
.post-content h2,
.post-content h3 {
    color: var(--text-color);
    margin: 5px 0;
    font-weight: 700;
}

.post-content code {
    background: #29323f;
    color: #93f6fd;
    padding: 2px 5px;
    border-radius: 4px;
    font-family: "Fira Code", monospace;
}

.post-content pre {
    background: #374151;
    color: #93c5fd;
    padding: 10px;
    border-radius: 6px;
    overflow-x: auto;
    font-family: "Fira Code", monospace;
}

.post-content a {
    color: var(--accent);
    text-decoration: none;
}
.post-content a:hover {
    text-decoration: underline;
}

/* Полоса прокрутки */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #2a2a2a; /* серый фон */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #555; /* темно-серый */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* hr */
hr {
    border: none;
    border-top: 1px solid #4b5563; /* приглушенный серый */
    margin: 16px 0;
}

/* blockquote */
blockquote {
    border-left: 3px solid #3b82f6; /* акцент */
    padding-left: 12px;
    color: #d1d5db; /* светлый текст */
    margin: 12px 0;
    font-style: italic;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 4px;
}

/* Футер поста */
.post-footer {
    text-align: right;
    margin-top: 8px;
    font-size: 12px;
    color: var(--muted-color);
}
