/* Контейнер для постов */
.posts {
    width: 100%;
    margin-top: 12px;
}

.post {
    background: var(--surface-bg);
    padding: 16px;
    border: 1px solid #374151;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Заголовок поста */
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-author-block {
    display: flex;
    gap: 10px;
    align-items: first center;
}

.post-author-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.post-author-username {
    font-size: 14px;
    color: var(--muted-color);
}

.post .actions {
    display: flex;
    gap: 6px;
}

/* Кнопки иконок */
.post-btn {
    background: none !important;
    padding: 3px 5px !important;
    cursor: pointer;
    color: var(--muted-color) !important;
    font-size: 12px !important;
    transition: color 0.2s;
}

.post-edit-btn {
    border: 1px solid rgba(255, 166, 0, 0.678) !important;
}

.post-delete-btn {
    border: 1px solid rgba(255, 0, 0, 0.548) !important;
}

.post-delete-btn .post-btn:hover {
    color: var(--text-color);
}

.post-edit-btn:hover {
    color: rgb(180, 129, 33) !important;
}

.post-delete-btn:hover {
    color: rgb(189, 67, 67) !important;
}

/* Контент */
.post-content h1,
.post-content h2,
.post-content h3 {
    color: var(--text-color);
    margin: 5px 0;
    font-weight: 700;
}

.post-content code {
    background: #29323f;
    color: #93f6fd;
    padding: 2px 5px;
    border-radius: 4px;
    font-family: "Fira Code", monospace;
}

.post-content pre {
    background: #374151;
    color: #93c5fd;
    padding: 10px;
    border-radius: 6px;
    overflow-x: auto;
    font-family: "Fira Code", monospace;
}

.post-content a {
    color: var(--accent);
    text-decoration: none;
}

/* hr */
hr {
    border: none;
    border-top: 1px solid #4b5563; /* приглушенный серый */
    margin: 16px 0;
}

/* blockquote */
blockquote {
    border-left: 3px solid #3b82f6; /* акцент */
    padding-left: 12px;
    color: #d1d5db; /* светлый текст */
    margin: 12px 0;
    font-style: italic;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 4px;
}

/* Футер поста */
.post-footer {
    text-align: right;
    margin-top: 8px;
    font-size: 12px;
    color: var(--muted-color);
}

.save-btn {
    background: none;
    color: rgba(0, 128, 0, 0.8) !important;
    border: 1px solid rgba(0, 128, 0, 0.5);
    padding: 7px 14px;
    margin-right: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}
.save-btn:hover {
    background: rgba(0, 128, 0, 0.08);
}
.cancel-btn {
    background: none;
    color: rgba(255, 140, 0, 0.9);
    border: 1px solid rgba(255, 140, 0, 0.5);
    padding: 7px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}
.cancel-btn:hover {
    background: rgba(255, 140, 0, 0.08);
}
