<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Profile Settings</title>
        <link rel="stylesheet" href="/static/styles/base.css">
        <link rel="stylesheet" href="/static/styles/layout.css">
        <link rel="stylesheet" href="/static/styles/forms.css">
    </head>
    <body>
        {{ header_fragment }}

        <main>
            <div class="card">
                <h1>Welcome, {{ user.username }}!</h1>
                <h3>Your account was logged in {{ user.created_at }}</h3>
            </div>
        </main>
    </body>
</html>


<script>
    document.getElementById("logoutBtn").addEventListener("click", async () => {
        await fetch("/auth/logout", { method: "POST", credentials: "include" });
        window.location.href = "/auth/login";
    });
</script>